@import url(//fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700);

body {
	font-family: "Rubik", sans-serif;
	font-size: 16px;
}

#content {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.outer-wrapper {
	min-height: 100vh;
	display: flex;
	flex-flow: column wrap;
}

.outer-wrapper > div.row {
	flex-grow: 1;
	width: 100%;
}
