form input[type="text"], form input[type="password"], form select, form textarea, form p {
	border: 1px solid #3D5998;
	background-color: #F4F4F4 !important;
	border-radius: 4px;
	color: #5D82A7;
}

form textarea {
	min-height: 150px;
}

form label {
	font-size: 1rem;
	color: #5D82A7;
	font-weight: normal;
}

form input[type="submit"], form input[type="reset"] {
	border: 2px solid #5D82A7;
	padding: 0.9375rem 1.25rem;
	color: #3D5998;
	background-color: transparent;
}

form input[type="submit"]:not(:disabled), form input[type="reset"]:not(:disabled) {
	cursor: pointer;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
	background-color: rgba(93, 116, 167, 0.07);
}

.create-form {
  width: 100%;
  background-color: rgba(93, 116, 167, 0.07);
  padding: 20px;
}

.create-form.create-success {
	background-color: rgba(70, 120, 20, 0.07);
}

.create-form.create-success .information {
	color: green;
}

.create-form.create-failure {
	background-color: rgba(120, 20, 20, 0.07);
}

.create-form.create-failure .information {
	color: red;
}

.blockcontainer {
	border: 2px solid #5D82A7;
	border-radius: 4px;
	padding: 4px;
}

.blockcontainer input[type="submit"] {
	margin-top: 1.67rem;
	padding: 0.55rem 1.25rem;
	color: red;
	border: 2px solid red;
}

.blockcontainer h4, h5{
	color: #5D82A7;
}

.deletebutton input[type="submit"], input[type="submit"].deleteButton {
	color: red;
	border: 2px solid red;
}

.deletebutton input[type="submit"]:hover, input[type="submit"].deleteButton:hover {
	background-color: rgba(255, 0, 0, 0.07);
}

.margintop-05 {
	margin-top: 0.5rem;
}

form label.upload {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 0.2375rem 0.55rem;
    cursor: pointer;
    margin-top: 0.3rem;
}

form input.upload {
    display: none;
}

form label.upload.playerAvatarUpload {
	margin-top: 0;
	margin-bottom: 1rem;
}

form .divider {
	border-top: 1px solid #5D82A7;
	border-bottom: 1px solid #5D82A7;
	margin: 0 0 1rem 0;
	text-align: center;
}

form .divider h3 {
	margin: 0;
}

.season-picker #assignedTeamSeason {
	border: 1px solid #3D5998;
	background-color: #F4F4F4 !important;
	border-radius: 4px;
	color: #5D82A7;
}

.season-picker label {
	font-size: 1rem;
	color: #5D82A7;
	font-weight: normal;
}