form input[type="text"], form input[type="password"], form select, form textarea {
	border: 1px solid #3D5998;
	background-color: #F4F4F4 !important;
	border-radius: 4px;
	color: #5D82A7;
}

form textarea {
	min-height: 150px;
}

form label {
	font-size: 1rem;
	color: #5D82A7;
	font-weight: normal;
}

form input[type="submit"], form input[type="reset"] {
	border: 2px solid #5D82A7;
	padding: 0.9375rem 1.25rem;
	color: #3D5998;
	background-color: transparent;
	cursor: pointer;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
	background-color: rgba(93, 116, 167, 0.07);
}

.create-form {
  width: 100%;
  background-color: rgba(93, 116, 167, 0.07);
  padding: 20px;
}

.blockcontainer {
	border: 2px solid #5D82A7;
	border-radius: 4px;
	padding: 4px;
}

.blockcontainer input[type="submit"] {
	margin-top: 1.67rem;
	padding: 0.55rem 1.25rem;
	color: red;
	border: 2px solid red;
}

.blockcontainer h4, h5{
	color: #5D82A7;
}

.deletebutton input[type="submit"], input[type="submit"].deleteButton {
	color: red;
	border: 2px solid red;
}

.deletebutton input[type="submit"]:hover, input[type="submit"].deleteButton:hover {
	background-color: rgba(255, 0, 0, 0.07);
}

.margintop-05 {
	margin-top: 0.5rem;
}
